@import url(../__lang-link-content/header__lang-link-content.css);

.header__lang-link {
  position: absolute;
  right: 48px;

  height: 28px;
  width: 78px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
