@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  width: 984px;


  margin: auto;
  padding-top: 56px;

  display: flex;
  flex-direction: column;

}

@media (max-width: 1024px) {
  /* стили для планшета */
  .lead {
    width: 90%;
    padding-top: 48px;
  }
}

@media (max-width: 768px) {
 /* стили для широкого смартфона */
 .lead {
    width: 100%;
    padding-top: 48px;
}
}

@media (max-width: 320px) {
  /* стили для малого смартфона */
  .lead {
    width: 100%;
    padding-top: 48px;
  }
}
