.cover__subtitle{

  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  z-index: 4;

  line-height: 22px;
  font-size: 18px;
  color: #ffffff;
  fill: white;
  font-weight: normal;
  text-align: center;
  margin: 0px;



}

@media (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;

    grid-column-start: 2;
    grid-column-end: 2;
  }
}
