.cover__subtitle{

  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 32px 0 0;
  z-index: 2;

}


@media (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;

    grid-column-start: 2;
    grid-column-end: 2;
  }
}
