.header__logo {
  position: absolute;
  margin: 0px auto;
  left: 48px;
  height: 52px;
  width: 176px;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 768px) {
  /* стили для малого смартфона */
  .header__logo {
    height: 42px;
    width: 142px;
  }
}


@media (max-width: 425px) {
  /* стили для малого смартфона */
  .header__logo {
    height: 42px;
    width: 142px;
  }
}
