.place__paragraphs {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;

  display: flex;
  flex-direction: column;

  align-items: space-between;
}



@media (max-width: 425px) {
  .place__paragraphs {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;

    padding-left: 0px;
    padding-right: 0px;

  }
}
