.lead__title {
  max-width: 720px;

  margin-bottom: 0px;
  margin-top: 0px;

  font-size: 96px;
  line-height: 100px;

  margin-left: auto;
  margin-right: auto;


  font-weight: 900;
  color: white;
  text-align: center;


}


@media (max-width: 1024px) {
  .lead__title {
    width: 100%;
  }

}

@media (max-width: 767px) {
  .lead__title {
    width: 100%;

    font-size: 40px;
    line-height: 44px;

  }

}

@media (max-width: 425px) {
  .lead__title {
    width: 100%;

    font-size: 40px;
    line-height: 44px;


  }

}




