.intro__text {

  width: 984px;


  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 400;
  color: white;

  font-size: 16px;
  line-height: 26px;

  text-align: left;

}


@media (max-width: 1024px) {
  .intro__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
 .intro__text {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
}

@media (max-width: 425px) {
  .intro__text {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }


}
