.header__lang-link-content_en {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link-content_en:hover {
  opacity: 0.8;
}



@media (max-width: 425px) {
  /* стили для малого смартфона */
  .header__lang-link-content_en {
    /* стили для малого смартфона */
    font-size: 18px;
    line-height: 24px;
    }
}
