.header__lang-link-content_ru {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 425px) {
  /* стили для малого смартфона */
  .header__lang-link-content_ru {
    /* стили для малого смартфона */
    font-size: 18px;
    line-height: 24px;
    }
}
