@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);


.intro {
  width: 984px;
  margin-left: auto;
  margin-right: auto;


  padding-top: 114px;



  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}


@media (max-width: 1024px) {
  .intro {
    width: 90%;
    padding-top: 114px;

  }
}

@media (max-width: 768px) {
 .intro {
    width: 100%;
    padding-top: 110px;

  }
}

@media (max-width: 425px) {
  .intro {
    width: 100%;
    padding-top: 86px;

  }
}
