
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);


.cover{
  max-width: calc(100% - 96px);
  max-height: 740px;
  margin: auto;
  padding-top: 92px;
}



@media (max-width: 1024px) {
  .cover {
    width: 100%;
    max-width: 100%;

    margin-right: 0px;
    margin-left: 0px;
    margin: auto;

  }
}

@media (max-width: 768px) {
  .cover {
    width: 100%;
    max-width: 100%;
    padding-top: 88px;

    margin-right: 0px;
    margin-left: 0px;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .cover {
    width: 100%;
    max-width: 100%;
    padding-top: 64px;

    margin-right: 0px;
    margin-left: 0px;
    margin: auto;
  }
}

