.place__link {
  color: #ffffff;
  z-index: 1;

  font-size: 18px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;

}


.place__link:hover {
  opacity: 0.8;
}


@media (max-width: 500px) {
  .place__link {

    font-size: 12px;
    line-height: 14px;
  }
}
