.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
  text-decoration: none;
  color: black;
}

.feynman__link:hover{
  opacity: 0.5;
  transition-duration: 2s;
}
