.cover__overlay {

    width: 100%; /* Full width (cover the whole page) */

    background-color: #2A2C2F; /* Black background with opacity */
    opacity: 0.3;

    /* cursor: pointer; Add a pointer on hover */

    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;

    z-index: 3;
}

.cover__overlay:hover {
  opacity: 0.8;
}


