.cover__background {
  width: 100%;
  height: 100%;

  object-fit: cover;


  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
  /*position: absolute;
  z-index: 1;
  max-width: 1184px;
  height: calc(1184px * 0.63);
  margin: auto;

  object-fit: cover;
  object-position: center;

  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 0;
  grid-row-end: 11;

  z-index: 0;*/
}

@media (max-width: 1024px) {
  .cover__background {
    width: 100%;
    height: 62.5vmax;
  }
}

@media (max-width: 768px) {
  .cover__background {
    width: 100%;
    height: 62.5vmax;
  }
}

@media (max-width: 425px) {
  .cover__background {
    width: 100%;
    height: 62.5vmax;
  }
}
