.lead__caption {
  height: 14px;
  /*width: 984px;*/

  margin-top: 8px;

  font-weight: normal;
  font-size: 10px;
  color: white;
  line-height: 14px;
  text-align: left;


}


@media (max-width: 1024px) {
  .lead__caption {
    width: 100%;
  }
}

@media (max-width: 768px) {
 .lead__caption {
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
  }
}

@media (max-width: 425px) {
  .lead__caption {
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
  }
}
