.cover__title {

  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  z-index: 4;
  line-height: 76px;
  font-size: 72px;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  margin: 0px;


}


@media (max-width: 425px) {
  .cover__title {

    font-size: 32px;
    line-height: 36px;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
  }
}
