.footer__list {
  padding-bottom: 0px
}

.footer__list:last-child {
  padding-bottom: 0px
}

@media (max-width: 730px) {
  .footer__list {
    padding-bottom: 32px

  }
}

@media (max-width: 425px) {
  .footer__list {
    padding-bottom: 32px
  }
}
