@import url(./__title/place__title.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__link/place__link.css);



.place {
  width: 100%;
  max-height: 660px;

  display: grid;

  grid-template-columns: minmax(0px, 1fr) 460px 40px 484px minmax(0px, 1fr);
  grid-template-rows: minmax(0px, 1fr) max-content 48px 460px minmax(0px, 1fr);

  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(0px, 1fr) 440px 32px 456px minmax(0px, 1fr);
    grid-template-rows: minmax(0px, 1fr) max-content 48px 440px minmax(0px, 1fr);
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: minmax(0px, 1fr) 340px 28px 352px minmax(0px, 1fr);
    grid-template-rows: minmax(0px, 1fr) max-content 48px minmax(340px, max-content) minmax(0px, 1fr);
    margin-bottom: 72px;
  }
}

@media (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0px, 1fr) max-content 32px 100vmin 32px minmax(340px, max-content) minmax(0px, 1fr);
    margin-bottom: 48px;
    max-height: none;
  }
}
