.intro__list__text {

  color: #ffffff;
  padding: 0; /* Убираем поля */
  margin: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;

}


@media (max-width: 1024px) {
  .intro__list__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
 .intro__list__text {
    width: 100%;

    box-sizing: border-box;
  }
}

@media (max-width: 425px) {
  .intro__list__text {
    width: 100%;


    box-sizing: border-box;

  }
}
