.footer__column-link{
  left: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 0px;
}


.footer__column-link:hover{
  opacity: 0.5;
  transition-duration: 2s;
  list-style: none;
}
